body {
  background-color: #e4fde1;
  /* background-image: url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGJvdGFuaWNhbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  /* NEED TO ADD alt TEXT TO BACKGROUND PIC */
  /* background-size:cover ; */
   /* background-repeat: space;  */
}

/*
Possible Plant colors:
#547027
#142c08
#514b24
#5a8737
#83a84f
#325411
#618921
#6a9646
#6a8a3e
#3c6c22
#2f3c10
#c4be9e
#dd614a
#ff9b71
#ffdc7c
#6ba292 
#e4fde1
More partial to the lower ones
*/
/*
Possible background photos
https://images.unsplash.com/photo-1483793435732-7047c6f91194?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Ym90YW5pY2FsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1579167728798-a1cf3d595960?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Ym90YW5pY2FsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8Ym90YW5pY2FsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGJvdGFuaWNhbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1566126656746-ca9c35e8c9e6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fHBsYW50JTIwY29sbGFnZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1519445539804-f4ce8332a267?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBsYW50JTIwY29sbGFnZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1525695230005-efd074980869?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fHBsYW50JTIwZ3JvdXB8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60

*/